<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd" >

	<import resource="classpath:spring/spring-db.xml" />
	<import resource="classpath:spring/spring-cache.xml" />
	<import resource="classpath:spring/spring-context.xml" />
	<import resource="classpath:spring/spring-job.xml" />  
	
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.qq.com"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="username" value="1484500184@qq.com"/>
        <property name="password" value="zxc123"/>
        <property name="javaMailProperties">
            <value>
                mail.smtp.auth=true
            </value>
        </property>
    </bean>
    
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
    <property name="from" value="1484500184@qq.com"/>
    <property name="subject" value="welcome"/>
    </bean>
       
    <bean id="orderManager" class="cn.dlut.util.MonitorMailUtil">
        <property name="mailSender" ref="mailSender"/>
        <property name="simpleMailMessage" ref="templateMessage"/>
    </bean>
    
    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:constants.properties</value>
			</list>
		</property>
	</bean>
	
</beans>
